.bmks/urls filter=git-crypt diff=git-crypt
.config/prayer-times/config.toml filter=git-crypt diff=git-crypt
.config/redshift/redshift.conf filter=git-crypt diff=git-crypt
scripts/unlock filter=git-crypt diff=git-crypt
